# Binaries for programs and plugins
*.sh
*.sh~
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
/.vscode/launch.json
*.vscode

vendor/